/* CSS규칙 - BEM 방식 */
/* Font Style */
@font-face {
	font-family:'NanumGothic';
	font-weight:400;
	src:url('../fonts/NanumGothic.eot'),	url('../fonts/NanumGothic.woff') format('woff');
}
@font-face {
	font-family:'NanumGothic';
	font-weight:700;
	src:url('../fonts/NanumGothicBold.eot'),	url('../fonts/NanumGothicBold.woff') format('woff');
}
@font-face {
	font-family:'NanumGothic';
	font-weight:800;
	src:url('../fonts/NanumGothicExtraBold.eot'),	url('../fonts/NanumGothicExtraBold.woff') format('woff');
}

/* Default Style */
* {margin:0; padding:0; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; -webkit-text-size-adjust:none;}
html, body {width:100%; height:100%;}
body {width:1920px; /* min-width:1280px; */ background:#fff; color:#3A3838; font-weight:400; font-size:16px; font-family:'NanumGothic', 'dotum', Arial, sans-serif; line-height:24px;}
article, aside, hgroup, header, footer, figure, figcaption, nav, section {display: block;}
ul, ol, li {list-style:none;}
img, hr {border:none;}
img {vertical-align:top; border:0;}
small {font-size:70%;}

/* Link Style */
a {color:#3A3838; text-decoration:none; -webkit-tap-highlight-color:transparent;}
a:hover,
a:active,
a:focus {text-decoration:none;}

/* Table Style */
table {width:100%; border-collapse:separate; border-spacing:0; table-layout:fixed;}
table th {font-weight:700; font-size:14px;}
table td {font-size:13px;}

/* Tag all font-size set */
em,span { font-family:inherit; color:inherit; font-size:inherit; line-height:inherit;}

/* From Style */
textarea {width:100%; padding:7px 10px; border:1px solid #c4c4c4; background-color:#fff; vertical-align:middle; font-size:13px; font-family:'NanumGothic'; line-height:1.7; resize:none; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
input {vertical-align:middle;}
input[type=text],
input[type=password] {width:100%; padding:0 12px; border:1px solid #c4c4c4; vertical-align:middle; font-weight:300; font-size:13px; font-family:'NanumGothic';}
input[type=checkbox] {margin-right:10px;}
input[type=radio] {margin-right:10px;}
input:focus,
select:focus,
option:focus,
textarea:focus,
button:focus {outline:none;}

select {width:100%; padding:0 30px 0 12px; border:1px solid #c4c4c4; background-color:#fff; background-repeat:no-repeat; background-position:100% 50%; vertical-align:middle; font-weight:300; font-size:13px; font-family:'NanumGothic'; -webkit-appearance:none; -moz-appearance:none; appearance:none;}
select::-ms-expand {display:none;}

button {padding-bottom:2px; border:0; color:#000; vertical-align:middle; font-size:14px; font-family:'NanumGothic'; cursor:pointer;}
button:disabled {cursor:default;}
hr, caption {display:none;}
address,cite,em {font-style:normal;}
fieldset {border:0; padding:0;}
legend {overflow:hidden; position:absolute; height:0; text-indent:-999999px; font-size:0px; line-height:0;}
label {cursor:pointer;}
h2, h3, h4, h5, strong, b {font-family:'NanumGothic'; font-weight:700;}

/* Hide Set */
.hide {overflow:hidden; position:absolute; left:-1000% !important; top:0; width:1px; height:1px; font-size:0.1%; line-height:0.1%;}

/* START : LAYOUT */
.wrapper {overflow-x:auto; /*width:1920px;*/ height:100%; margin:0 auto; background:#fff;}

/* header */
.header {position:relative; z-index:2; padding:40px 0 0; height:120px; background:#fff;}
.header__inner {position:relative; width:100%; height:80px; border-bottom:1px solid #cdcdcd; background:#fff;}
[class^=header--logo] {position:absolute;}
.header--logo {top:calc(50% - 32px); left:20px; width:200px; height:64px; background:url(../images/common/logo_01.png) no-repeat 0 0;}
.header--logo span {position:absolute; left:-99999px; color:transparent; font-size:0.1%;}
.header--logo-sub {top:calc(50% - 35px); right:20px;}
.header__util {position:absolute; top:0; right:0; left:0; z-index:3; height:40px; padding-right:35px; background:#e8ebf2; text-align:right;}
.header__util .login-info {display:inline-block; position:relative; height:28px; margin:6px 14px 0 0; padding:1px 0 0 20px; color:#6e6e6e; vertical-align:middle; font-weight:700; font-size:10px; line-height:28px;}
.header__util .login-info:before {content:''; position:absolute; top:50%; left:0; width:15px; height:15px; margin-top:-8px; background:url(../images/icon/icon_user.png) no-repeat 0 50%;}
.header__util .btn__logout {display:inline-block; position:relative; width:64px; height:20px; margin-top:6px; padding:0 5px 0 20px; background:#0f56b3; color:#fff; vertical-align:middle; text-align:center; font-weight:800; font-size:11px; line-height:20px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
.header__util .btn__logout:before {content:''; position:absolute; top:50%; left:5px; width:18px; height:18px; margin-top:-9px; background:url(../images/btn/btn_logout.png) no-repeat 0 50%;}
.header__util .btn__logout:active {background-color:#f3802d;}

/* container */
.container {position:relative; z-index:1; width:100%; min-height:100%; margin:-120px 0 -150px; padding:160px 0 150px; background:#f6f6f6;}

/* contents */
.contents {padding:30px 25px 25px 60px; background:#f6f6f6;}
.contents:after {content:''; display:block; clear:both;}

/* left */
.area__left {position:relative; z-index:3; float:left; width:200px; background:#fff;}

/* contents */
.area__contents {float:none; position:relative; z-index:1; margin-left:240px;/*  border:1px solid #dadada; background:#fff; */}

/* footer */
.footer {position:relative; z-index:3; height:150px; border-top:1px solid #9b9b9b; background:#fff; color:#666464; font-size:13px; line-height:20px;}
.footer__inner {position:relative; width:1190px; height:149px; margin-left:310px; padding:35px 0 0 198px;}
.footer--logo {position:absolute; top:50px; left:0;}

.footer__link {font-size:0;}
.footer__link__item {display:inline-block; position:relative; margin-left:28px;}
.footer__link__item:before {content:''; position:absolute; top:calc(50% - 9px); left:-12px; width:1px; height:12px; background:#797777;}
.footer__link__item a {color:#666464; font-size:14px;}
.footer__link__item.policy {margin-left:0;}
.footer__link__item.policy:before {display:none;}
.footer__link__item.policy a {color:#000; font-weight:700;}
.footer__link__item.policy + .footer__link__item {margin-left:17px;}
.footer__link__item.policy + .footer__link__item:before {display:none;}

.footer__info {margin-top:15px;}

.footer__cs {position:absolute; top:77px; left:600px; padding-left:32px;}
.footer__cs:before {content:''; position:absolute; top:0; left:0; height:40px; border-left:1px solid #b5b5b5;}
.footer__cs dl {overflow:hidden;}
.footer__cs dl dt {float:left; font-weight:800; font-size:13px;}
.footer__cs dl dd {float:left; margin-left:29px;}
.footer__cs dl dd p {position:relative; padding-left:23px; background-repeat:no-repeat;}
.footer__cs dl dd p:before {content:''; position:absolute; top:calc(50% - 7px); left:0; width:16px; height:15px;}
.footer__cs__tel {color:#1b75bc; font-weight:700; font-size:16px;}
.footer__cs__tel:before {background-image:url(../images/icon/set_footer_cs.png); background-position:0 0;}
.footer__cs__time:before {background-image:url(../images/icon/set_footer_cs.png); background-position:0 100%;}

.footer__banner {overflow:hidden; position:absolute; top:45px; right:0;}
.footer__banner li {float:left; margin-left:6px;}
.footer__banner li:first-child {margin-left:0;}
.footer__banner a {display:block; width:55px; height:43px; background:#c4c4c4; text-align:center; font-size:11px; line-height:43px;}

/* NAV */
.nav {display:block;}
.nav__title {height:142px; padding-top:100px; background:#f3802c url(../images/common/logo_03.png) no-repeat 50% 25px; color:#fff; text-align:center;}
.nav__list {border-bottom:1px solid #d1d1d1;}

/* NAV :default :depth-1 */
.nav__item:first-of-type {border-top:0;}
.nav__item a {display:block; border-width:1px 1px 0; border-style:solid; border-color:#d1d1d1; color:#3a3838; font-size:16px;}
.nav__link {position:relative; height:55px; padding:15px 47px 15px 17px;}
.nav__icon--arrow {position:absolute; top:50%; right:20px; margin-top:-5px;}
.nav__icon--arrow:before,
.nav__icon--arrow:after {content:''; position:absolute; top:0; width:2px; height:8px; background:#ebeaea; transform-origin:center; transition:.1s ease-in;}
.nav__icon--arrow:before {right:0; transform:rotate(45deg);}
.nav__icon--arrow:after {right:4px; transform:rotate(-45deg);}

/* NAV :default :depth-2 */
.nav__sub {display:none; background:#fff;}
.nav__sub__item {border-bottom:1px solid #fff; background:#ebeaea;}
.nav__sub__item a {height:45px; padding:11px 17px; color:#2b3e61;}
.nav__sub__item a span {display:inline-block; position:relative; margin-left:16px; line-height:1.2;}
.nav__sub__item a span:before {content:''; position:absolute; top:8px; left:-15px; width:4px; height:4px; background:#2b3e61; border-radius:50%;}
.nav__sub__item a span:after {content:''; display:block; border-bottom:1px solid transparent;}
.nav__sub__item a:hover span:after {border-color:#2b3e61;}

/* NAV :active :depth-1 */
.nav__item.active .nav__icon--arrow:before {transform:rotate(135deg);}
.nav__item.active .nav__icon--arrow:after {transform:rotate(-135deg);}

/* NAV :current :depth-1 */
.nav__item.active .nav__link {border-color:#2b3e61; background:#2b3e61; color:#fff; font-weight:700;}
.nav__item.active .nav__icon--arrow:before {background-color:#fff;}
.nav__item.active .nav__icon--arrow:after {background-color:#fff;}

/* NAV :current :depth-2 */
.nav__item.active .nav__sub {display:block;}
.nav__sub__item.current {background:rgba(243, 128, 45, 0.2);}
.nav__sub__item.current .nav_sub_link {border-left-color:#d4c9c0; border-right-color:#d4c9c0;}
.nav__sub__item.current .nav_sub_link span {font-weight:700;}
.nav__sub__item.current .nav_sub_link span:after {border-color:#2b3e61;}

/* path */
.path {position:absolute; top:120px; left:0; z-index:2; width:100%; height:40px; padding-left:310px; border:1px solid #d0d0d0; background:#efefef; box-shadow:inset 0px 1px 4px rgba(0, 0, 0, 0.1); font-size:0;}
.path__btn__home {display:inline-block; position:relative; width:54px; height:38px; background:url(../images/icon/icon_home.png) no-repeat 50% 50%; vertical-align:top; font-size:0;}
.path__btn__home:before {content:''; position:absolute; top:0; right:-12px; z-index:2; width:13px; height:38px; background:url(../images/common/bg_path.png) no-repeat 100% 50%;}
.path__select {display:inline-block; position:relative; height:38px; margin-left:-1px; color:#6e6e6e; vertical-align:top; font-size:14px;}
.path__select[aria-hidden] {display:none;}
.path__select:before {content:''; position:absolute; top:0; right:-12px; z-index:2; width:13px; height:38px; background:url(../images/common/bg_path.png) no-repeat 100% 50%;}
.path__selected {display:block; position:relative; height:38px; padding:0 42px 0 30px; line-height:40px;}
.path__selected span {display:block;}
.path__selected:before {content:''; position:absolute; top:50%; right:12px; width:10px; height:6px; margin-top:-3px; background:url(../images/icon/icon_path.png) no-repeat 0 0;}
.path__select:last-child .path__selected {color:#2b3e61; font-weight:700;}

.path__option {display:none; position:absolute; top:38px; left:0; min-width:100%; border:1px solid #d0d0d0; background:#fff;}
.path__option ul {padding:10px 0;}
.path__option ul li a {display:block; padding:3px 20px; white-space:nowrap;}
.path__option ul li a:hover {background:#efefef; color:#2b3e61;}

/* sub__menu */
.sub__menu {position:relative; background:#f6f6f6;}
.sub__menu:after {content:''; position:absolute; top:0; right:0; bottom:0; left:0; border:1px solid #7b7b7b;}
.sub__menu ul {position:relative; z-index:2; font-size:0;}
.sub__menu ul li {display:inline-block; position:relative; z-index:1; width:200px; margin-left:-1px; text-align:center;}
.sub__menu ul li:first-child {margin-left:0;}
.sub__menu ul li a {display:block; position:relative; height:50px; color:#c8c8c8; font-size:16px; line-height:50px;}
.sub__menu ul li:before {content:''; position:absolute; top:0; right:0; bottom:0; left:0; border:1px solid #7b7b7b;}
.sub__menu ul li:after {content:''; position:absolute; right:0; bottom:0; left:0;}
.sub__menu ul li.current {z-index:2; background:#fff;}
.sub__menu ul li.current a {color:#f3802d; font-weight:700;}
.sub__menu ul li.current:after {border-bottom:4px solid #f3802d;}
/* END : LAYOUT */


/* COMMON */
/* Size */
.w-100 {width:100px !important;}
.w-120 {width:120px !important;}
.w-127 {width:127px !important;}
.w-150 {width:150px !important;}
.w-200 {width:200px !important;}
.w-220 {width:220px !important;}
.w-240 {width:240px !important;}

/* paging */
.paging {position:relative; z-index:2; width:100%; margin-top:45px; text-align:center; font-size:0;}
.paging * {vertical-align:middle;}
.paging button,
.paging a {display:inline-block; width:32px; height:32px; text-align:center;}
.paging__item {display:inline-block;}
.paging__link {background:#fff; color:#42526E; font-size:12px; line-height:32px; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;}
.paging__link--current {background:#f3802d; color:#fff;}
.paging__btn {background-color:transparent; background-repeat:no-repeat; background-position:0 0; text-indent:-99999px;}
.paging__btn[disabled] {opacity:0.7; cursor:default; pointer-events:none;}
.paging__btn.btn--prev {background-image:url(../images/btn/btn_page_prev.png);}
.paging__btn.btn--next {background-image:url(../images/btn/btn_page_next.png);}
.paging__ellipsis {font-size:14px;}
.type-02 .paging__link {font-weight:700;}


/* FORM */
/* board-search */
.form__search {position:relative; margin:-1px 0 10px 0; padding:7px 107px 7px 23px; border:1px solid #dadada; background:#fff;}
.form__search:before {content:''; position:absolute; top:100%; right:-1px; left:-1px; height:10px; margin-top:1px; border-bottom:1px solid #dadada; background:#f6f6f6;}

.form__search_inner {display:table; table-layout:fixed; width:100%; font-size:0;}
.form__input__set {display:table-cell; width:25%; text-align:center;}
.form__input__set:first-child {text-align:left;}
.form__input__set:last-child {text-align:right;}

.form__input__set label {display:inline-block; position:relative; margin-right:10px; padding-left:17px; vertical-align:middle; font-weight:700; font-size:12px; line-height:40px;}
.form__input__set label:before {content:''; position:absolute; top:50%; left:0; width:5px; height:5px; margin-top:-2px; background:#6e6e6e;}
.form__input__set input[type=text] {width:200px;}
.form__input__set select {width:200px;}
.form__input__date {display:inline-block;}
.form__input__date p {display:inline-block; position:relative; margin-left:30px;}
.form__input__date.type-02 p {margin-left:20px;}
.form__input__date p:first-child {margin-left:0;}
.form__input__date input[type=text] {width:127px; padding:0 30px 0 6px;}
.form__input__date .btn__cal {position:absolute; top:calc(50% - 9px); right:11px;}

.date-set.form__input__set {width:500px;}
.date-set .form__input__date input[type=text] {width:200px !important; padding:0 30px 0 6px;}


/* input__radio */
.input__radio__wrap {display:table; table-layout:fixed; width:100%;}

/* input__set */
.input__set__radio {text-align:center;}
.input__set__id {font-size:0;}
.input__set__id input[type=text] {width:220px !important; margin-right:7px;}
.input__set__ip {font-size:0;}
.input__set__ip input[type=text] {width:calc(25% - 21px) !important; margin-left:28px;}
.input__set__ip input[type=text]:first-child {margin-left:0;}
.input__set__select {font-size:0;}
.input__set__select * {vertical-align:middle;}
.input__set__select label {margin-right:15px; font-weight:700; font-size:12px;  line-height:30px;}
.input__set__select select {}

/* input__set__date-time */
.input__set__date-time {position:relative; font-size:0;}
.input__set__date-time label {padding:0 10px; vertical-align:middle; font-weight:700; font-size:16px;}
.input__set__date {display:inline-block; position:relative;}
.input__set__date input[type=text] {width:240px; padding-right:30px;}
.input__set__date .btn__cal {position:absolute; top:calc(50% - 9px); right:11px;}
.input__set__date.type-icon input[type=text] {padding-left:38px;}
.input__set__date.type-icon:before {content:''; position:absolute; top:calc(50% - 7px); left:11px; width:14px; height:14px; background:url(../images/icon/icon_sch.png) no-repeat;}
.input__set__date + .input__set__time {margin-left:35px;}
.input__set__date + .input__set__time.type-02 {margin-left:10px;}
.input__set__time {display:inline-block;}
.input__set__time select {width:80px;}
.input__set__time input[type=text] {width:63px;}
.input__set__location {display:inline-block;}
.input__set__location input[type=text] {width:150px;}


/* BUTTON */
/* button shape */
.btn__cal {width:18px; height:18px; background:url(../images/btn/btn_calendar.png) no-repeat; font-size:0;}
.btn__cal-02 {width:25px; height:25px; margin-left:5px; border:1px solid #42526e; background:#fff url(../images/btn/btn_calendar_02.png) no-repeat 50% 50%; font-size:0; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}


/* BOARD */
/* board-wrap */
.board-search + .board-wrap {margin-top:10px;}
.board-wrap {position:relative; z-index:1; padding:20px; border:1px solid #dadada; background:#fff;}
.board-wrap.board__sec {margin-top:10px;}
.board-wrap.p-10 {padding:10px;}
.board-wrap .btns.pos__top {position:absolute; top:30px; right:24px; z-index:2;}

/* board__title */
.board__title {margin:20px 0 15px; font-size:14px;}
.board__title:first-child {margin-top:-5px; /* margin-top:10px; */}
.board__title strong {position:relative; padding-left:17px; color:#3a3838;}
.board__title strong:before {content:''; position:absolute; top:50%; left:0; width:6px; height:6px; margin-top:-2px; background:#f3802d;}
.board__title span {margin-left:5px;}

/* board__util */
.board__util {display:flex; align-items:center; width:100%; margin-bottom:15px;}
.board__util__total {display:inline-block; padding-right:20px; font-size:14px;}
.board__util__total strong {position:relative; padding-left:17px;}
.board__util__total strong:before {content:''; position:absolute; top:50%; left:0; width:6px; height:6px; margin-top:-2px; background:#f3802d;}
.board__util__total strong:after {content:':'; margin-left:5px;}
.board__util__total em {margin-left:5px; font-weight:700;}

/* board__btn */
.board__btn {overflow:hidden; margin:30px 0 15px; font-size:0;}
.board__btn [class^=btn] {margin-left:10px;}
.board__btn [class^=btn]:first-child {margin-left:0;}
.board__btn.type-02 {margin-top:-40px; margin-bottom:10px;}
.board__btn.type-03 {margin-top:10px; margin-bottom:0;}
.board__btn.type-04 {margin-top:10px;}
.board__btn.type-05 {margin-top:0; margin-bottom:10px;}
.board__btn__left {float:left;}
.board__btn__right {float:right;}

/* board__bot */
.board__bot {position:relative; margin-top:20px;}
.board__bot .board__btn__left {position:absolute; bottom:0; left:0; z-index:2; margin:0;}
.board__bot .paging {z-index:1; float:none; margin:0;}


/* ETC */
/* Point-Color :#f3802d */
.txt__delete {color:#d1d1d1; text-decoration:line-through;}
.txt__delete a {color:#d1d1d1;}
.align__center {text-align:center !important;}

/* bullet */
.bul__imp {color:#E13434;}

/* tip__balloon */
.tip__balloon {position:absolute; z-index:2; width:230px; height:160px; background: #fff; box-shadow:0px 0px 4px rgba(0, 0, 0, 0.61); -webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px;}
.tip__balloon.type-02 {width:300px; height:auto; min-height:120px;}
.tip__balloon:before {content:"\00a0"; position:absolute; top:calc(50% - 8px); left:-9px; width:20px; height:16px; background:#fff; transform:rotate(29deg) skew(-35deg); -moz-transform:rotate(29deg) skew(-35deg); -ms-transform:rotate(29deg) (-35deg); -o-transform:rotate(29deg) skew(-35deg); -webkit-transform:rotate(29deg) skew(-35deg); box-shadow:-2px 2px 2px 0 rgba(0, 0, 0, 0.2);}
.tip__balloon.arr--bottom:before {top:auto; bottom:-7px; left:calc(50% - 8px); transform:rotate(-63deg) skew(-35deg); -moz-transform:rotate(-63deg) skew(-35deg); -ms-transform:rotate(-63deg) (-35deg); -o-transform:rotate(-63deg) skew(-35deg); -webkit-transform:rotate(-63deg) skew(-35deg);}

.tip__header {position:relative; height:30px; padding:0 75px 0 10px; background:#3a3838; color:#fff;}
.tip__header strong {display:block; overflow:hidden; height:30px; font-size:14px; line-height:30px; white-space: nowrap; text-overflow:ellipsis;}
.tip__header [class*=grade] {position:absolute; top:calc(50% - 10px); right:10px; height:21px; padding:0 5px; background:#d02424; font-size:12px; line-height:22px; -webkit-border-radius:20px; -moz-border-radius:20px; border-radius:20px;}
.tip__header .grade--blue {background-color:#007aff;}

.tip__contents {position:relative; z-index:2; padding:6px 10px;}
.tip__address {font-size:12px; line-height:1.7;}

.tip__movement__list {position:relative; margin-top:4px; padding-left:30px; border:1px solid #c4c4c4; color:#000; font-size:12px;}
.tip__movement__list:before {content:''; position:absolute; top:0; bottom:0; left:0; width:30px; border-right:1px solid #c4c4c4; background:#f3802d url(../images/common/bg_movement.png) no-repeat 0 50%;}
.tip__movement__item {display:table; table-layout:fixed; width:100%; border-top:1px solid #c4c4c4;}
.tip__movement__item:first-child {border-top:0;}
.tip__movement__item .date {display:table-cell;  width:120px; padding:0 8px; font-weight:700;}
.tip__movement__item .place {display:table-cell;}

.board__view__mini {border:1px solid #c4c4c4;}
.board__view__mini table {letter-spacing:-1px;}
.board__view__mini table th,
.board__view__mini table td {padding:0 6px; border-top:1px solid #c4c4c4; font-size:13px;}
.board__view__mini table tr:first-child th,
.board__view__mini table tr:first-child td {border-top:0;}
.board__view__mini table th {background:#f9f7f9; text-align:left;}
.board__view__mini table td {height:25px; border-left:1px solid #c4c4c4;}


/* etc */
.tag__danger {display:inline-block; height:18px; padding:0 3px; font-size:11px; line-height:18px; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;}
.tag--red {background:#e13434; color:#fff;}


/* POPUP */
body#popup {background:none}
body.modal {overflow:hidden}
.trplayer {position:fixed; left:0; top:0; z-index:100; width:100%; height:100%; background:#000; opacity:0.7; filter:alpha(opacity="70")}
.trplayerw {overflow:auto; position:fixed; left:0; top:0; z-index:100; width:100%; height:100%}
.pop__modal {position:absolute; left:50%; top:50%; z-index:101; background:#fff}
body.a-width .pop__modal {left:0 !important; margin-left:0 !important}
body.a-height .pop__modal {top:0 !important; margin-top:0 !important}

.pop__wrap {width:830px;}
.pop__wrap.small {width:610px;}
.pop__wrap.w-353 {width:353px;}
.pop__wrap.w-446 {width:446px;}
.pop__wrap.w-675 {width:675px;}
.pop__wrap.w-696 {width:696px;}
.pop__wrap.w-712 {width:712px;}
.pop__wrap.w-1100 {width:1100px;}
.pop__wrap.w-1122 {width:1122px;}

.pop__header {padding:0 50px 0 35px; color:#fff;}
.pop__header h4 {font-weight:700;}
.pop__container {position:relative; padding:20px 35px;}
.pop__title {padding-bottom:20px; border-bottom:2px solid #b5b5b5;}
.pop__title.no-border {border-bottom:0;}
.pop__title.type-02 {margin:10px 0 7px;}
.pop__title h3 {font-size:18px;}
.pop__section {overflow:hidden; position:relative;}

.board__pop__btn {overflow:hidden; margin:0; padding-top:26px; border-top:1px solid #b5b5b5;}
.board__pop__btn.type-02 {margin:16px 0 0;}
.board__pop__btn.type-03 {padding-top:20px; border-top:0 solid #000;}

.btn__close__popup {position:absolute; top:6px; right:12px; z-index:2; width:30px; height:30px; background:url(../images/btn/btn_close_popup.png) no-repeat; font-size:0;}
