/* CSS규칙 - BEM 방식 */
/* 관리자 */

/* From Style */
input[type=text] {height:34px; color:#3a3838; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
input[type=text]:disabled {background:#f6f6f6;}
input[type=text]:focus {border-color:#007aff;}

input[type=text]::-webkit-input-placeholder {color:#7b7b7b !important;}
input[type=text]:-moz-placeholder {color:#7b7b7b !important;}
input[type=text]::-moz-placeholder {color:#7b7b7b !important;}
input[type=text]:-ms-input-placeholder {color:#7b7b7b !important;}

input[type=text]:focus::-webkit-input-placeholder {color:#cecece !important;}
input[type=text]:focus:-moz-placeholder {color:#cecece !important;}
input[type=text]:focus::-moz-placeholder {color:#cecece !important;}
input[type=text]:focus:-ms-input-placeholder {color:#cecece !important;}

input[type=text]:disabled::-webkit-input-placeholder {color:#cecece !important;}
input[type=text]:disabled:-moz-placeholder {color:#cecece !important;}
input[type=text]:disabled::-moz-placeholder {color:#cecece !important;}
input[type=text]:disabled:-ms-input-placeholder {color:#cecece !important;}

select {height:34px; background-image:url(../images/common/bg_selectbox.png); color:#3a3838; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}

select:required:invalid {color:#7b7b7b;}
select:disabled {background:#f6f6f6;}
select:focus {border-color:#007aff;}

select.type-02 {padding:0 30px 0 12px; background-image:url(../images/common/bg_selectbox_02.png);}
select.type-03 {padding:0 30px 0 12px; background-image:url(../images/common/bg_selectbox_03.png);}


/* COMMON */


/* FORM */
/* board-search */
.form__btn__search {position:absolute; top:calc(50% - 15px); right:24px; width:72px; height:30px; color:#fff; font-weight:700; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}

/* input__radio */
.input__radio__big {display:table-cell; width:16%;}
.input__radio__big input[type=radio] {position:absolute; left:-99999px;}
.input__radio__big label {display:inline-block; position:relative; padding-left:65px;}
.input__radio__big span {font-weight:700;}
.input__radio__big i {position:absolute; top:0; left:0; width:24px; height:24px;}
.input__radio__big i:before,
.input__radio__big i:after {content:''; position:absolute; border-radius:50%; box-sizing:border-box;}
.input__radio__big i:before {top:0; left:0; width:24px; height:24px; border:1px solid #d1d1d1; background:#f6f6f6;}
.input__radio__big input:checked + i:after {top:calc(50% - 9px); left:calc(50% - 9px); width:18px; height:18px; border:1px solid #b98d59; background:#fb8832;}

/* input__set__date-time */


/* address */
.input__addr__zip {display:flex; margin-bottom:4px; align-items:center;}
.input__addr__zip input.input__addr__zipcode {width:122px !important; margin-right:7px;}
.input__addr__text {display:flex;}
.input__addr__text input[type=text] {width:260px !important; margin-left:9px;}
.input__addr__text input[type=text]:first-child {margin-left:0;}

.view__addr__text {margin-top:8px;}
.view__addr__text p {display:inline-block; width:260px;}
.view__addr__text p + p {margin-left:5px;}

/* File */
/* Photo - 관련 삭제 확인 */
.input__set__file__wrap {height:34px; padding:2px; border:1px solid #c5c5c5; background:#fff; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px;}
.input__set__file {position:relative; height:28px; padding:2px 0 2px 90px;}
.input__set__file label {position:absolute; top:0; left:0; width:85px; height:28px; background:#cfcfcf; color:#344563; vertical-align:middle; text-align:center; font-size:14px; line-height:28px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
.input__file {display:none; position:relative; overflow:hidden; max-width:100%; height:24px; padding:0 30px 3px 7px; background:#454545; vertical-align:middle; -webkit-border-radius:6px; -moz-border-radius:6px; border-radius:6px; -webkit-appearance:none; -moz-appearance:none; appearance:none;}
.input__file-name {display:block; overflow:hidden; position:relative; border:0; background:transparent; color:#fff; font-weight:700; font-size:14px; white-space:nowrap; text-overflow:ellipsis;}
.input__file-hidden {overflow:hidden; position:absolute; width:1px; height:1px; margin:-1px; padding:0; border:0; clip:rect(0,0,0,0);}
.input__btn-del {position:absolute; top:50%; right:0; width:24px; height:24px; margin-top:-12px; background:transparent url(../images/btn/btn_file_del.png) no-repeat 50% 50%; color:transparent; font-size:0;}
.input__btn-del:before {content:''; position:absolute; top:calc(50% - 8px); left:0; height:16px; border-left:1px solid #787878;}


/* BUTTON */
/* button shape */
.btn__default {height:40px; padding:2px 16px; background:#92959e; color:#fff; text-align:center; font-weight:700; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
.btn__small {min-width:82px; height:30px; padding:2px 16px; color:#fff; text-align:center; font-weight:700; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
.btn__small-w {min-width:30px; height:30px; padding:2px 16px; color:#fff; text-align:center; font-weight:700; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
.btn__small-w80 {min-width:80px; height:30px; padding:1px 7px; color:#fff; text-align:center; font-weight:700; line-height:30px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
.btn__small-02 {height:28px; padding:2px 16px; font-weight:700; color:#fff; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
.btn__small-02-w80 {min-width:80px; height:28px; padding:2px 5px; text-align:center; font-weight:700; color:#fff; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
.btn__small-03 {width:193px; height:28px; padding:2px 9px; color:#fff; text-align:center; font-weight:700; line-height:24px; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}
.btn__zipcode {width:112px; height:24px; background:#c7c7c7; background:linear-gradient(180deg, #c7c7c7 0%, #9b9b9b 100%); color:#fff; font-weight:700; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;}

/* button color */
.btn--normal {background:#445767;}
.btn--normal:active {background:#f3802d;}
.btn--normal[disabled] {color:#cecece;}

.btn--normal-02 {background:#445767; font-size:11px;}
.btn--normal-02:active {background:#f3802d;}
.btn--normal-02[disabled] {color:#cecece;}

.btn--white {border:1px solid #445767; background:#fff; color:#445767; font-size:11px;}
.btn--white:active {border-color:#f3802d; background:#f3802d; color:#fff;}
.btn--white[disabled] {color:#cecece;}

.btn--navy {background:#0f56b3; font-size:11px;}
.btn--navy:active {background:#05326b;}
.btn--navy[disabled] {border:1px solid #8f9193; background:#fff; color:#8f9193;}

.btn--blue {background:#0375c2; font-size:11px;}
.btn--blue:active {background:#05326b;}
.btn--blue[disabled] {border:1px solid #8f9193; background:#fff; color:#8f9193;}

.btn--gray {background:#666464;}
.btn--gray:active {background:#f3802d;}
.btn--gray[disabled] {color:#cecece;}

.btn--excel-down {background:#35a1a1;}
.btn--excel-down:active {background:#1c7878;}
.btn--excel-up {background:#445767;}


/* BOARD */
/* board__list */
.board__list table {border-top:2px solid #666464; border-bottom:1px solid #dfe1e6; background:#fff;}
.board__list table thead th {height:50px; border-width:0 0 2px; border-style:solid; border-color:#dfe1e6; background:#f6f6f6;}
.board__list table thead th.type__location-01 {height:25px; border-width:0 1px 1px 0;}
.board__list table thead th.type__location-02 {height:25px; border-right-width:1px; border-left-width:1px;}
.board__list table thead th.type__location-02 + .type__location-02 {border-left:0;}
.board__list table tbody td {height:40px; padding:0 10px; text-align:left;}
.board__list table tbody td a:hover {color:#f3802d; font-weight:700;}

/* board__reg */
.board__reg {position:relative;}
.board__reg table {border:1px solid #c8c8c8; background:#fff;}
.board__reg table th,
.board__reg table td {border-top:1px solid #c8c8c8;}
.board__reg table tr:first-child th,
.board__reg table tr:first-child td {border-top:0;}
.board__reg table th {padding:3px 12px; background:#f6f6f6; color:#666464; text-align:left;}
.board__reg table th.border__right {border-right:1px solid #c8c8c8;}
.board__reg table td {padding:3px 6px; border-left:1px solid #c8c8c8;}
.board__reg .align__top {padding-top:12px; vertical-align:top;}
.board__reg input[type=text] {width:435px; height:28px; color:#3a3838;}
.board__reg.type-02 th {color:#3a3838;}
.board__reg.type-02 input[type=text] {border-color:#7b7b7b;}
.board__reg.type-02 input[type=text]:focus {border-color:#007aff;}

.board__reg-02 {position:relative;}
.board__reg-02 table {border:1px solid #c8c8c8; background:#fff;}
.board__reg-02 table th,
.board__reg-02 table td {border-top:1px solid #bdbdbd;}
.board__reg-02 table tr:first-child th,
.board__reg-02 table tr:first-child td {border-top:0;}
.board__reg-02 table th {padding:5px 12px; background:#f6f6f6; color:#666464; text-align:left;}
.board__reg-02 table td {padding:5px; border-left:1px solid #bdbdbd;}
.board__reg-02 .align__top {padding-top:12px; vertical-align:top;}
.board__reg-02 input[type=text] {height:30px; color:#3a3838;}
.board__reg-02 select {height:30px;}

/* board__view */
.board__view table {border:1px solid #c8c8c8; background:#fff;}
.board__view table th,
.board__view table td {border-top:1px solid #c8c8c8;}
.board__view table tr:first-child th,
.board__view table tr:first-child td {border-top:0;}
.board__view table th {padding:5px 12px; background:#f6f6f6; color:#666464; text-align:left;}
.board__view table th.border__right {border-right:1px solid #c8c8c8;}
.board__view table td {padding:5px 19px; border-left:1px solid #c8c8c8;}
.board__view .align__top {padding-top:12px; vertical-align:top;}

.board__view-02 table {border:1px solid #c8c8c8; background:#fff;}
.board__view-02 table th,
.board__view-02 table td {padding:7px 12px 8px; border-top:1px solid #bdbdbd;}
.board__view-02 table tr:first-child th,
.board__view-02 table tr:first-child td {border-top:0;}
.board__view-02 table th {background:#f6f6f6; color:#3a3838; text-align:left;}
.board__view-02 table th.border__right {border-right:1px solid #bdbdbd;}
.board__view-02 table td {border-left:1px solid #bdbdbd;}
.board__view-02 table td.btns {padding:5px 12px;}
.board__view-02 .align__top {padding-top:12px; vertical-align:top;}

/* board__check */
.board__check table {border:1px solid #c8c8c8; background:#fff;}
.board__check table th,
.board__check table td {border-top:1px solid #bdbdbd;}
.board__check table tr:first-child th,
.board__check table tr:first-child td {border-top:0;}
.board__check table th {padding:12px 35px; background:#f6f6f6; color:#3a3838; text-align:left;}
.board__check table td {padding:12px 60px; height:100px; border-left:1px solid #bdbdbd; vertical-align:middle;}


/* POPUP */
.pop__header {height:43px; background:#333;}
.pop__header h4 {font-size:18px; line-height:43px;}

.pop__msg {padding:18px; border-bottom:1px solid #b5b5b5; background:#f4f5f9; color:#000; text-align:center; font-weight:700; font-size:18px;}

.pop__board__reg {position:relative; /* border:1px solid #c00; */}
.pop__board__reg table {border-bottom:1px solid #b5b5b5; background:#fff; font-size:18px;}
.pop__board__reg table th,
.pop__board__reg table td {border-top:1px solid #bdbdbd; font-size:18px;}
.pop__board__reg table tr:first-child th,
.pop__board__reg table tr:first-child td {border-top:0;}
.pop__board__reg table th {padding:13px 15px; background:#f4f5f9; color:#000; text-align:left; letter-spacing:-0.5px;}
.pop__board__reg table td {padding:13px 28px; background:#e4e5e9;}

.pop__board__view {position:relative;}
.pop__board__view table {border-bottom:1px solid #b5b5b5; background:#fff; font-size:18px;}
.pop__board__view table th,
.pop__board__view table td {border-top:1px solid #bdbdbd; font-size:18px;}
.pop__board__view table tr:first-child th,
.pop__board__view table tr:first-child td {border-top:0;}
.pop__board__view table th {padding:13px 15px; background:#f4f5f9; color:#000; text-align:left; letter-spacing:-0.5px;}
.pop__board__view table td {padding:13px 28px; background:#e4e5e9; color:#000; font-weight:700; font-size:15px;}

